body {
    background-image: url('../images/bg.png');
}

nav {
    border-bottom: 2px solid #ddd;
}

.navbar-brand {
    background: #4aaaa5;
    color: #fff;}

a {
    color: #777;
}

#content {
    border: 2px solid #ddd;
}

h3 {
    color: #4aaaa5;
    border-bottom: 2px solid #ddd;
}

.btn {
    background: #4aaaa5;
    font-size: 14pt;
    border: 0;
}

.post-content {
    background: #4aaaa5;
    color: #fff;
    
}

footer {
    background: #444;
    color: white;
    border-top: 8px solid #4aaaa5;
}

@media screen and (max-width: 450px) {
    .navbar {
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }

    .navbar-brand {
        width: 100%;
        text-align: center;
    }

    .navbar-nav {
        width: 100%;
    }
}